h1 {
    margin: 0;
    padding: 20px 0;
    color: #3072b0;
    text-shadow: 3px 3px 1px rgb(182, 192, 192);
  }
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    width: 600px;
    margin: 80px;
    background-color: #c7ecf0;
  }